@charset 'UTF-8';

html, body {
  height: 100%;
}
body,p {
  margin: 0;
  padding: 0;
}

#one, #two, #three{
  height: 100%;
  width: 100%;
}

#one {
  background-color: aliceblue;
}

#one p {
  text-align: center;
  padding-top: 400px;

}

#two {
  background-color: pink;
}

#three {
  background-color: cadetblue;
}