body {
  margin: 0;
}

p {
  margin: 0;
}

.inner {
  /* width: 980px; */
  margin: 0 auto;
  height: 66px;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}



/* header */
#top-head {
  top: -100px;
  position: absolute;
  width: 100%;
  height: 66px;
  margin: 100px auto 0;
  padding: 0px 0 0;
  line-height: 1;
  z-index: 999;

  border-top:4px solid #0054a7;
  box-shadow: rgb(214, 214, 214) 0px 0px 5px 0px;
}

#top-head h1 {
  margin: 0;
  line-height: 66px;
}

#top-head a,
#top-head {
  color: #000;
  text-decoration: none;
}
#top-head .inner {
  position: relative;
}
#top-head .logo {
  float: left;
  font-size: 36px;
}
#global-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 8px;
  font-size: 14px;
}
#global-nav ul li {
  float: left;
}

#global-nav ul li a {
  padding: 0 30px;
}

#global-nav ul li.lastNav span{
  border: 1px solid #0054a7;
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 0;
  height: 66px;
  background: #fff;
  background: rgba(255,255,255,.7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
  font-size: 24px;
  color: #333;
}
#top-head.fixed #global-nav ul li a {
  color: #000;
  padding: 0 20px;
}



/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #0054a7;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}
 /* kv */
#ocKv {
  margin-top: 74px;
}

#ocKv .innerCont{
  text-align: center;
}

#ocKv h1 img {
  max-width: 100%;
  height: auto;
}

#ocKv .kvOmousikomi {

    padding: 25px 0 20px;
    display: block;
    background: #0054a7;
    width: 602px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    -moz-border-radius: 5px;
    margin-top: 13px;
    text-decoration: none;
}

#ocKv p {
  color: #fff;
  font-size: 28px;
}


/* 体験授業 */

 .taikenCont {
  background-color: rgb(182, 224, 210);
} 

.courseBox {
  padding-top:52px;
  max-width: 980px;
  margin: auto;
}

.taikenList , .innerTokuten{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.taikenList .box {
  width: 310px;
  height: 525px;
  margin: 5% 0;
  background-color: #fff;
  font-size: 14px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	-webkit-box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	-moz-box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	overflow:hidden;
}

.taikenList .box .img{
	width:296px;
	margin:7px 7px 0 7px;
}

.taikenList .box p{
	color:#666;
	margin:16px 20px 0;
	letter-spacing:0.5px;
	text-align:justify;
}
.taikenList .box p span{
	display:block;
	font-weight:bold;
	color:#333;
	margin:4px 0 -3px;
}

.taikenList .box dl{
	margin:8px 20px 15px;
	background:url(../img/oc/line_dot_1.gif) repeat-x 0 0;
  padding-top:14px;
}
.taikenList .box dt{
  height: 22px;
	margin-bottom:4px;
}

.taikenList .box dl ul {
  padding: 0;
  margin: 0;
}


.taikenList .box dl li{
	font-weight:bold;
  line-height:1.4;
  list-style: none;
}
.taikenList .box dl li span{
	font-size:12px;
	font-weight:normal;
}

.taikenList .box dd {
  margin: 0;
}

.taikenCont h2 {
  text-align: center;
}

.taikenCont h2 img {
  max-width: 100%;
}

.courseBox .innerCont .add{
	margin-top:-10px;
}
.courseBox .innerCont .add li{
	padding-left: 1.3em;
	text-indent: -1.3em;
	font-size:12px;
  padding-bottom:3px;
  list-style: none;
}
.courseBox .innerCont .add li a{
    text-decoration: underline;
}

/* 三大特典 */

.innerTokuten {
  max-width: 980px;
  margin: auto;
}

.innerTokuten .box {
  width: 310px;
  height: 525px;
  margin: 5% 0;
  background-color: #fff;
  font-size: 14px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	-webkit-box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	-moz-box-shadow:rgba(28, 69, 87, 0.08) 0px 2px 2px 1px;
	overflow:hidden;
}

.tokutenBox .box .tokutenTit{
  text-align:center;
  margin: 7px 7px 0 7px;
}
.tokutenBox .box h3{
	font-size:22px;
	font-weight:bold;
	line-height:1.3;
  padding:16px 20px 6px;
	height:59px;
	display:table-cell;
	vertical-align:middle;
}
.tokutenBox .box h3 small{
	font-size:13px;
}
.tokutenBox .box h3 span{
	color:#0054a7;
}
.tokutenBox .box p{
	color:#666;
  letter-spacing:0.5px;
  margin: 16px 20px 0;
}
.tokutenBox .box p span{
	font-size:12px;
}
.tokutenBox .box a{
	font-weight:bold;
	background:url(../img/oc/icn_arrow.png) no-repeat 0 5px;
	padding:0 0 0 17px;
	color:#333;
	display:inline-block;
	margin-top:4px;
	text-decoration:underline;
}

/* スケジュール */

.scheduleCont .innerCont {
  max-width: 980px;
  margin: auto;
}

.scheduleCont .innerCont h2 {
  text-align: center;
  padding: 10px;
  padding-top: 58px;
}

.scheduleCont .innerCont h2 img {
  max-width: 100%;
}

.scheduleCont .innerCont ul {
  padding: 0;
  width: 90%;
  margin: auto;
  overflow:hidden;
}

.scheduleCont .innerCont ul li {
  list-style: none;
  overflow:hidden;
  padding: 20px 0;
}

.scheduleCont li .time {
  font-size: 24px;
  font-weight: bold;
  color: #0054a7;
  margin-top: 2px;
}

.scheduleCont li h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: -2px;
  margin-bottom: 0;
}

.scheduleCont li .txt {
  line-height: 1.5;
}

.scheduleCont li .clock {
  float: left;
}

/* Q＆A */

.qaCont {
  background-color: rgb(182, 224, 210);
}

.qaCont .innerCont {
  max-width: 980px;
  margin: auto;
  padding-bottom: 49px;
  background: url(../img/oc/bg_qa_illust.png) no-repeat 0 39px;
  /* position: relative;
  clear: both; */
}

.qaCont h2 {
  text-align: center;
  padding-top: 58px;
}

.qaCont h2 img {
  max-width: 100%;
  height: auto;
}

.qaCont dl {
  background: #fff;
  max-width: 90%;
  margin: auto;
  padding: 7px 20px 15px;
  margin-top: 35px;
}


.qaCont dt {
  font-size: 20px;
    height: 54px;
    padding-top: 21px;
    /* padding-left: 20px; */
    color: #033333;
    font-size: 20px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    width: 890px;
    margin: auto;
}

.qaCont dl dt::before {
  content: "Q";
  color: #0054a7;
  font-size: 30px;
  margin-right: 20px;
}

.qaCont dl dd {
  font-size: 16px;
  margin: 0;
  margin-top: 17px;
  background: url(../img/oc/bg_dot_qa.gif) repeat-x 0 bottom;
  padding-bottom: 20px;
  line-height: 1.5;
}

.qaCont dl dd:last-child {
  background: none;
}

.qaCont dl dd::before {
  content: "A";
  color: red;
  font-size: 30px;
  padding-right: 20px;
  font-weight: bold;
}

.qaCont dl dd a {
  font-weight: bold;
  background: url(../img/oc/icn_arrow.png) no-repeat 0 5px;
  padding: 0 0 0 17px;
  color: #333;
  display: inline-block;
  margin-top: 4px;
  text-decoration: underline;
}

/* 申し込みフォーム */

div.omousikomi {
  background: #fffcdf;
}

.omousikomi .innerOm {
  padding-top: 52px;
  padding-bottom: 52px;
  max-width: 980px;
  margin: auto;
}

.omousikomi .innerOm .btn {
  text-align: center;
  padding-top: 30px;
}

.omousikomi .innerOm .btn img {
  max-width: 100%;
}

.omousikomi .innerOm h2 {
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

.omousikomi .innerOm form {
  background-color: #fff;
  padding: 5px;
}


.omousikomi .innerOm th	{
   width: 30%;
   text-align: left; 
  }

.omousikomi .innerOm td, .omousikomi .innerOm th {
  padding: 20px 10px;
}

   .sbox {
    width: 80%;
    height: 34px;
    display: block;
}

 .formM {
  width: 50%;
  height: 34px;
}

.formCont table th span {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  padding: 3px 5px 2px;
  font-weight: normal;
  margin-top: 1px;
  margin-left: 20px;
  line-height: 1;
}

.formCont table th .required {
  background: #e63737;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
  text-align: center;
  color: #fff;
  background: #0054a7;
  position: relative;
  font-size: 16px;
  padding: 11px 0;
  margin-top: 35px;
  box-shadow: 0 0 5px #d6d6d6;
  -moz-box-shadow: 0 0 5px #d6d6d6;
  -webkit-box-shadow: 0 0 5px #d6d6d6;
}

.underTxt {
  margin-top: 36px;
  text-align: center;
}

.omousikomi .innerOm textarea {
  width: 90%;
}

.schoolCont {
  background: #f2f2f2;
  clear: both;
  overflow: hidden;
  padding: 25px 0;
}

.schoolCont .inner{
  max-width: 980px;
}

.schoolCont .school span {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.schoolCont .tel {
  background: url(../img/oc/icn_tel.png) no-repeat 0 6px;
  font-size: 25px;
  padding-left: 34px;
}


/* オープンキャンパス
================================================== */






@media screen and (min-width: 960px) {
  #ocKv h1  {
    margin: 50px; 
  }
}


@media screen and (max-width: 640px) {

    #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #ddd;
        width: 100%;
        height: 66px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 0px;
        top: 5px;
        color: #333;
        font-size: 16px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        background: #333;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
    #nav-toggle {
        display: block;
    }

    #top-head #global-nav ul li.lastNav span {
      border: none;
    }
    
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }


    #ocKv h1 img {
      width: 50%;
      height: auto;
    }

    #ocKv h1 {
      margin: 10px 0 0 0;
    }

    #ocKv p {
      margin: -8px 0 0 0;
      font-size: 12px;
    }

    #ocKv .kvOmousikomi {

      padding: 5px 0 5px;
      display: block;
      background: #0054a7;
      width: 60%;
      margin: 0 auto;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      -moz-border-radius: 5px;
      margin-top: 5px;
      text-decoration: none;
  }

    .scheduleCont .innerCont ul li {
      width: 310px;
      margin: auto;
    }

    .scheduleCont li .clock {
      float: none;
    }

    .qaCont dl {
      width: 310px;
    }

    /* .omousikomi .innerOm	{ margin: 0 -10px; } */

    .omousikomi .innerOm {
      width: 80%;
    }

    .omousikomi .innerOm th,
    .omousikomi .innerOm td{
		width: 100%;
        display: block;
		border-top: none;
    }
  .omousikomi .innerOm tr:first-child th	{ border-top: 1px solid #ddd; }
  
  table {
    /* width: 300px; */
  }

  .omousikomi .innerOm table p {
    display: block;
    /* width: 350px; */
  }

  .omousikomi .innerOm h2 {
    font-size: 16px;
  }

  .omousikomi .innerOm td, .omousikomi .innerOm th {
    padding: 10px 0;
    }

    .formM, .sbox {
      display: block;
    }
}




